/* Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Utilities */
* {
    font-family: playfair display;
}

body {
    background-color: #FFFCF0;
}

.judul {
    color: #D1B470;
    /* Warna teks untuk heading */
}

.deskripsi {
    color: #35514B;
    /* Warna teks untuk paragraf */
}

.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    width: 100px;
    height: 50px;
    border-radius: 40%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s ease;
    border: 1px solid #e0e0e0;
}

.logout:hover {
    transform: scale(1.1);
    background-color: #f9f9f9;
    color: #000000;
}

.logout i {
    font-size: 18px;
}


/* Navbar */
.navbar-brand img {
    width: 110px;
}

.custom-navbar .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
}

/* Sosial Media */
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s ease;
    border: 1px solid #e0e0e0;
}

.social-link:hover {
    transform: scale(1.1);
    background-color: #f9f9f9;
    color: #000000;
}

.social-link i {
    font-size: 20px;
}

/* Hero */
.btn-booking {
    background-color: #E3CC95;
    color: #35514B;
}

.btn-booking:hover {
    background-color: #b9a16a;
    color: white;
}

/* CTA */
.cta .card {
    background-image: url(./assets/bg-cta.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    height: 150px;
}

.cta .card-body {
    height: 100%;
}

/* Card paket */
.paket .card {
    background-color: #FFFCF0;
}

.paket .card:hover {
    transform: scale(1.02);
}

/* ulasan */
.overlay {
    position: relative;
    overflow: hidden;
}

.overlay img {
    display: block;
}

/* overlay abu gelap */
.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 80, 80, 0.4);
    border-radius: 20px;
    z-index: 1;
}

/* teks diatas gambar */
.overlay .text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 10px 15px;
    width: 100%;
    z-index: 2;
    font-size: 14px;
}

/* footer */
footer {
    background-color: #35514B;
    color: white;
    padding: 20px 0;
}

footer img {
    width: 160px;
}

/* promosi1 */
.promosi1 .poster {
    background-image: url(./assets/promosi1.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #cdcdcd;
    height: 230px;
}

.promosi1 .poster-body {
    height: 100%;
}

/* card paket */
.wedding .card {
    background-color: #fff;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.wedding .card:hover {
    transform: scale(1.02);
}

/* panah menuju detail */
.card-body {
    position: relative;
}

.arrow-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #35514B;
    color: #fff;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.arrow-btn:hover {
    background-color: #112A25;
}

/* Hero gaeri */
.hero .card {
    background-image: url(./assets/bg-cta.png);
    background-size: cover;
    background-position: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    height: 400px;
}

.hero .card-body {
    height: 100%;
}

/* galeri */
.main-image {
    width: 100%;
    max-height: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thumbnail {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.02);
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
}

/* garis di perkenalan */
.custom-line {
    width: 400px;
    height: 6px;
    background-color: #d4af37;
    border: none;
    margin: 20px auto;
}

/* Logo tentang kami */
.logo-wrapper {
    text-align: center;
    margin: 100px 0;
}

.logo-viora {
    max-width: 300px;
    width: 100%;
    height: auto;
    display: inline-block;
}

/* poto tim viona */
.team-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fdfbf2;
    /* warna latar lembut */
}

.team-photo-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.team-photo {
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* detail wedding */
.banner {
  background-image: url('./assets/benner.png'); 
  background-size: cover;
  background-position: center;
  position: relative;
  height: 600px;
  color: #fff;
  font-family: 'Playfair Display', serif;
}

.banner-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.container.text {
  max-width: 700px;
  padding-left: 0px;
}

.banner h2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
  margin-bottom: 5px;
  font-style: italic;
}

.price-text {
  font-size: 16px;
  margin-top: 20px;
}

.price {
  font-size: 28px;
  font-weight: 600;
}

.buttons {
  margin-top: 30px;
}

.btn {
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  margin-right: 15px;
  transition: all 0.3s ease;
}

.btn-outline {
  border: 2px solid white;
  background-color: transparent;
  color: white;
}

.btn-outline:hover {
  background-color: white;
  color: black;
}

.btn-filled {
  background-color: #2b4f4f;
  color: white;
}

.btn-filled:hover {
  background-color: #1c3636;
}

/* dcor inspirasi */
.inspirasi .card {
    background-color: #FFFCF0;
}

/* detail isi paket */
.package-section {
  padding: 40px 20px;
}

.package-section .container {
  max-width: 1100px;
  margin: 0 auto;
}

.package-section .title {
  text-align: center;
  font-size: 2rem;
  color: #b7954c;
  margin-bottom: 30px;
  font-weight: bold;
}

.package-section .content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.package-section.image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.details {
  flex: 1;
  min-width: 300px;
}

.details ul {
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.details li {
  margin-bottom: 8px;
  line-height: 1.6;
}

.bonus {
  background-color: #fff3f3;
  border-left: 5px solid red;
  padding: 10px 15px;
  font-weight: 500;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.badge {
  background-color: red;
  color: white;
  font-weight: bold;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.package-section .cta button {
  background-color: #b7954c;
  color: white;
  padding: 12px 25px;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: background 0.3s ease;
}

.package-section .cta button:hover {
  background-color: #9a7b39;
}